{% extends 'base/base_nav_footer.html' %}

{% block content %}
<div class="container-fluid container-assembly">
  <div class="row">
    <table class="table table-hoverable">
      <thead class="thead-inverse">
        <tr>
          <th>Ticket ID</th>
          <th>Productos</th>
          <th>Paquetes</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
          <tr>
            <th>{{ order.ticket_id }}</th>
            <td>
              {% for product in order.products %}
                <span class="badge badge-blue">
                  {{ product.name }}  
                  <span class="badge badge-white-blue">
                    {{ product.quantity }}
                  </span>
                </span>
              {% endfor %}
            </td>
            <td>
              {% for package in order.packages %}
              <span class="badge badge-dark-blue" >
                {{ package.name }}
                <span class="badge badge-white-blue-2">
                  {{ package.quantity }}
                </span>
              </span>
              {% endfor %}
            </td>
            <td>
              <button class="btn btn-success btn-lg">Ensamblar</button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}