{% extends 'base/base_nav_footer.html' %}

{% block content %}
<div class="container container-kitchen">
  <div>
    <h1 class="text-xs-center">Cocina Fría!</h1>
  </div>
  <div class="row">
    {% for product in products %}
      <div class="card col-xs-12 card-outline">
        <div class="row card-block">
          <div class="col-xs-12 col-sm-4 col-md-3 text-xs-center">
            ID {{ product.ticket_id }}
            <img src="/static/images/dabbawala_orange.jpg" alt="Card image product" width="100%">
          </div>
          <div class="col-xs-12 col-sm-8 col-md-9">
            <ul class="list-group list-group-flush">
              {% for cartridge in product.cartridges %}
                <li class="list-group-item">{{ cartridge }}</li>
              {% endfor %}
            </ul>    
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript" charset="utf-8" async>
  $(function() {
    $('ul.list-group').each(function(index,element) {
      if ($(this).children().length == 0) {
        $(this).parents('.card').remove()
      };
    });
  });
  </script>
{% endblock  %}