{% extends 'base/base_nav_footer.html' %}

{% block content %}
<div class="container-fluid container-kitchen">
  <div class="row">
    <table class="table table-kitchen table-striped table-hover">
      <thead>
        <tr>
          <th>Ticket ID</th>
          <th>Nombre</th>
          <th>Cantidad</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
          {% if product.cartridges %}
            {% for cartridge in product.cartridges %}
              {% if cartridge.cartridge.category == 'CO' %}                
                <tr>
                  <th scope="row" class="id">{{ product.ticket_id }}</th>
                  <td>{{ cartridge.cartridge }}</td>
                  <td>{{ cartridge.quantity }}</td>
                </tr>
              {% endif %}
            {% endfor %}
          {% endif %}
          {% if product.packages %}
            {% for package in product.packages %}
              {% for cartridge in package.package_recipe %}
                {% if cartridge.category == 'CO' %}
                  <tr>
                    <th scope="row" class="id">{{ product.ticket_id }}</th>
                    <td>{{ cartridge }}</td>
                    <td>{{ package.quantity }}</td>
                  </tr>
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" charset="utf-8" async>
  $(function() {
    function rel(){
      location.reload();          
    }
    setTimeout(rel, 15000);
  });
</script>
<script type="text/javascript" charset="utf-8" async>
  $(function() {
    var objetos = $('tr');
    var lista_id = [];
    var lista_2 = [];
    var a = 0;
    var b = 0;
    var count = -1; 
    objetos.each(function(index, element) {
      id_element = parseInt($(element).find('th.id').text().trim())
      if (!isNaN(id_element)) {
        lista_id.push(id_element);
        lista_2.push(id_element);
      }
    });
      for(var i=0; i<lista_id.length; i++){
        a = i;
        b = i + 1;
        if (lista_2[a] === lista_id[b]){
          lista_id[b] = " ";
        } 
      }
    console.log(lista_id);
    console.log(lista_2);
    objetos.each(function(index, element) {
      id_element = parseInt($(element).find('th.id').text(lista_id[count]))
      count++;
    });
  }); 
</script>
  {% endblock  %}