{% extends 'base/base_nav_footer.html' %}

{% block content %}
<div class="container-fluid container-kitchen">
  <div class="row">
    <table class="table table-kitchen table-striped table-hover">
      <thead>
        <tr>
          <th>Ticket ID</th>
          <th>Nombre</th>
          <th>Cantidad</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
          {% if product.cartridges %}
            {% for cartridge in product.cartridges %}
              {% if cartridge.cartridge.category == 'FD' %}                
                <tr>
                  <th scope="row" class="id">{{ product.ticket_id }}</th>
                  <td>{{ cartridge.cartridge }}</td>
                  <td>{{ cartridge.quantity }}</td>
                </tr>
              {% endif %}
            {% endfor %}
          {% endif %}
          {% if product.packages %}
            {% for package in product.packages %}
              {% for cartridge in package.package_recipe %}
                {% if cartridge.category == 'FD' %}
                  <tr>
                    <th scope="row" class="id">{{ product.ticket_id }}</th>
                    <td>{{ cartridge }}</td>
                    <td>{{ package.quantity }}</td>
                  </tr>
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript" charset="utf-8" async>
  $(function() {
    function rel(){
      location.reload();          
    }
    setTimeout(rel, 15000);
  });
  </script>
  <script type="text/javascript" charset="utf-8" async>
    $(function() {
      var objetos = $('tr');
      var lista_id = []
      var a = 0;
      var b = 0; 
      objetos.each(function(index, element) {
        id_element = parseInt($(element).find('th.id').text().trim())
        if (!isNaN(id_element)) {
          lista_id.push(id_element)
        }
      });
      for(var i=0; i<lista_id.length; i++){
        a = i;
        b = i + 1;
        if (lista_id[a] == lista_id[b]){
          // objetos.find('th.id').text(" ");
          lista_id[b] = " ";
        } 
      }
      console.log(lista_id);
      for(var j=0; j<lista_id.length; j++){
        objetos.find('th.id').text(lista_id[j]);
        console.log(lista_id[j]);
      }
    }); 
  </script>
{% endblock  %}
