{% extends 'base/base_nav_footer.html' %}

{% block content %}
<div class="container-fluid container-kitchen">
  <div>
    <h1 class="text-xs-center">Cocina Caliente!</h1>
  </div>
  <div class="row">
    <table class="table table-kitchen table-striped table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Cantidad</th>
        </tr>
      </thead>
      <tbody>
    {% for x in '123123' %}
        <tr>
          <th scope="row">1</th>
          <td>
            <ul>
              <li>Elemento</li>
            </ul>
          </td>
          <td>
          <ul>
              <li>X</li>
            </ul>
          </td>
          </td>
        </tr>
    {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<br><br>
{% for product in products %}
<br>
{{product}}
<br>
  
{% endfor %}
{% endblock %}