{% extends "base/base_nav_footer.html" %}

{% block content %}
<div class="container-fluid">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre de usuario</th>
        <th>Coreo</th>
        <th>Teléfono celular</th>
        <th>Dirección</th>
      </tr>
    </thead>
    <tbody>
      {% for customer in customers  %}        
      <tr>
        <th scope="row">{{ customer.id }}</th>
        <td>{{ customer.username }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.phone_number }}</td>
        <td>{{ customer.address }}</td>
      </tr>
      {% endfor %}
    </tbody>
    
  </table>
</div>

{% endblock content %}