{% extends 'base/base_nav_simple_footer.html' %}

{% load static %}

{% block content %}
<div class="container">
  <h1 class="text-xs-center">Bienvenido a Dabbawala</h1>
  <figure>
    <figure class="container-dabbawala-logo">
      <img src="{% static 'media/images/LogoDabba_naranja.png' %}" alt="dabbawala_logo" class="dabbawala-logo-register">
    </figure>
  </figure>
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-xs-center">Registrate y obtén un desayuno gratis</h3>
      <form action="" method="post" class="form-register-customer">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            {% csrf_token %}
            <div class="form-group">
              <label for="id_name" class="sr-only">Nombre</label>
              <small id="id_name_help" class="form-text text-muted">Ingresa tu nombre (Campo obligatorio)</small>
              <input type="text" class="form-control" id="id_name" name="name" placeholder="Nombre" maxlength="30" required autofocus>
            </div>
            <div class="form-group">
              <label for="id_email" class="sr-only">Correo</label>
              <small id="id_email_help" class="form-text text-muted">Ingresa tu Correo (Campo obligatorio)</small>
              <input type="text" class="form-control" id="id_email" name="email" placeholder="Correo" maxlength="255" required>
            </div>
            <div class="form-group">
              <label for="id_phone_number" class="sr-only">Teléfono celular</label>
              <small id="id_phone_number_help" class="form-text text-muted">Ingresa tu número de teléfono (De preferencia whatsapp)</small>
              <input type="text" class="form-control" id="id_phone_number" name="phone_number" placeholder="Teléfono celular" maxlength="10" required>
            </div>
            <div class="form-group container-hidden">
              <input type="number" class="form-control text-hide" id="id_longitude" name="longitude" placeholder="Longitud" step="1e-12" tyrequired>
            </div>
            <div class="form-group container-hidden">
              <input type="number" class="form-control text-hide" id="id_latitude" name="latitude" placeholder="Latitud" step="1e-12" tyrequired>
            </div>
            <div class="form-group row">
              <label for="id_location" class="sr-only">Ubicación</label>            
              <div class="col-xs-12">
                <small id="id_location_help" class="form-text text-muted">Ingresa tu ubicación</small>
              </div>
              <div class="col-xs-12">
                <div class="input-group">
                  <input type="text" class="form-control" id="id_location" name="address" placeholder="Busca tu dirección">  
                  <span class="input-group-btn" id="icon-search">
                    <button class="btn btn-secondary" type="button" id="search"><i class="material-icons">search</i></button>
                  </span>
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <button type="submit" class="btn btn-success btn-block">Registrate</button>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <!-- Google maps -->
            <div id="map" class=""></div>  
          </div>
        </div>
        <br>
      </form>

    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrITfQswCPmOPEBRM1Ufeiogh22FxQV5k" defer></script>

<script>

  var map = null;
  var infoWindow = null;

  function openInfoWindow(marker) {
    var markerLatLng = marker.getPosition();
    infoWindow.setContent([
      '<strong>La posicion del marcador es:</strong><br/>',
      markerLatLng.lat(),
      ', ',
      markerLatLng.lng(),
      '<br/>Arrástrame para elegir tu ubicación.'
      ].join(''));
    infoWindow.open(map, marker);
  }

  function initialize() {
    var myLatlng = new google.maps.LatLng(19.5228008,-99.2291418);
    var myOptions = {
      zoom: 15,
      center: myLatlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }

    map = new google.maps.Map($("#map").get(0), myOptions);

    infoWindow = new google.maps.InfoWindow();

    var marker = new google.maps.Marker({
      position: myLatlng,
      draggable: true,
      map: map,
      title:"Elige tu ubicación"
    });
    google.maps.event.addListener(marker, 'dragend', function(){ openInfoWindow(marker); });
    google.maps.event.addListener(marker, 'click', function(){ openInfoWindow(marker); });
  }

  $(function() {
    initialize();

  });

  $('#search').on('click', function() {
    // Obtenemos la dirección y la asignamos a una variable
    var address = $('#id_location').val();
    // Creamos el Objeto Geocoder
    var geocoder = new google.maps.Geocoder();
    // Hacemos la petición indicando la dirección e invocamos la función
    // geocodeResult enviando todo el resultado obtenido
    geocoder.geocode({ 'address': address}, geocodeResult);
  });

  function geocodeResult(results, status) {
    // Verificamos el estatus
    if (status == 'OK') {
        // Si hay resultados encontrados, centramos y repintamos el mapa
        // esto para eliminar cualquier pin antes puesto
        var mapOptions = {
          center: results[0].geometry.location,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map($("#map").get(0), mapOptions);
        // fitBounds acercará el mapa con el zoom adecuado de acuerdo a lo buscado
        map.fitBounds(results[0].geometry.viewport);
        // Dibujamos un marcador con la ubicación del primer resultado obtenido
        var markerOptions = { position: results[0].geometry.location }
        var marker = new google.maps.Marker(markerOptions);
        marker.setMap(map);
      } else {
        // En caso de no haber resultados o que haya ocurrido un error
        // lanzamos un mensaje con el error
        alert("Geocoding no tuvo éxito debido a: " + status);
      }
    }
  </script>


  {% endblock %}