/* Sticky footer styles
-------------------------------------------------- */
body {
  display: flex;
  font-family: 'Arimo', sans-serif;
  font-size: 20px;
  flex-direction: column;
  min-height: 100vh;
}

main {
 flex: 1;
}

small {
  font-size: 75%;
}

.footer {
  background-color: #151515;
  height: 5rem;
  line-height: 5rem; /* Vertically center the text there */
}

.container-signin {
  display: flex;
  background: url("../media/images/wallpaper.jpg") bottom;
  background-size: auto;
  min-height: calc(100vh - 5rem);
  padding-top: 3rem;
  width: 100%;
}
.container-signin .card-login{
  background-color: white;
  margin-top: 1rem;
}
.container-signin .card-login .container-dabbawala-logo {
  text-align: center;
}
.container-signin .card-login .container-dabbawala-logo .dabbawala-logo {
  height: 128px;
}
.container-signin .card-login .card-login-nav {
  margin: 1rem 2rem;
}
.container-signin .card-login .tab-content .form-login,
.container-signin .card-login .tab-content .form-register{
  margin: 2rem;
}
