/* Ticket's Font
-------------------------------------------------- */
@font-face
{
 font-family: 'Eligible-Regular';
 src: url('../fonts/Eligible-Regular.ttf');
}
@font-face
{
 font-family: 'Dosis-Regular';
 src: url('../fonts/Dosis-Regular.otf');
}
@font-face
{
 font-family: 'Dosis-SemiBold';
 src: url('../fonts/Dosis-SemiBold.otf');
}
@font-face
{
 font-family: 'Dosis-Bold';
 src: url('../fonts/Dosis-Bold.otf');
}
/* Scroll configuration - For webkit browsers
--------------------------------------------------- */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background-color: rgba(255, 151, 76, 0.5);
  border-radius: 0;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 114, 49, 0.3);
  border-radius: 3px;
}
/* Sticky footer styles
-------------------------------------------------- */
body {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  flex-direction: column;
  min-height: 100vh;
}
footer.footer {
  background: #131313;
  height: 5rem;
  line-height: 5rem;
}
footer.footer .container .text-muted {
  color: #ebebeb !important;
  font-weight: 300;
  opacity: .8;
}
/* DabbaNet styles
-------------------------------------------------------- */
main {
  flex: 1;
}
small {
  font-size: 75%;
}
.card-scroll {
  overflow-y: scroll;
}
.container-main {
  padding-top: 0;
}
.container-sales{
  margin: 0 0.5rem 0 0;
}
.container-sales .group-sales button#btn-order{
  font-size: 1.5em;
  height: 4rem;
  margin-bottom: 1rem;
}
.container-sales .group-sales .card-scroll {
  min-height: calc(100vh - 16rem);
  max-height: calc(100vh - 16rem);
}
.container-sales .group-sales .card-block.card-product-title {
  height: 4rem;
}
.container-sales .group-sales .card-scroll-orders {
  min-height: calc(100vh - 20.5rem);
  max-height: calc(100vh - 20.5rem);
  padding: 0;
}
.container-sales .group-sales .card-scroll-orders ul.list-group {
  font-family: 'Open Sans Condensed', sans-serif;
}
.container-sales .group-sales .card-scroll-orders ul.list-group li {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0;
  opacity: 0;
  padding: 0.5rem 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  width: 100%;
}
.container-sales .group-sales .card-scroll-orders ul.list-group li span{
  flex: 1;
  font-size: 1.2rem;
  letter-spacing: normal;
  overflow: hidden;
  padding: 0 0.2rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-spacing: normal;
}
.container-sales .group-sales .card-scroll-orders ul.list-group  span.name-li {
  min-width: 40%;
  max-width: 40%;
  text-align: left;
}
.container-sales .group-sales .card-scroll-orders ul.list-group  span.cost-base-li {
  text-align: center;
  display: none;
}
.container-sales .group-sales .card-scroll-orders ul.list-group  span.cant-li {
  min-width: 10%;
  max-width: 10%;
  text-align: center;
}
.container-sales .group-sales .card-scroll-orders ul.list-group  span.s-li {
  min-width: 8%;
  max-width: 8%;
  text-align: right;
}
.container-sales .group-sales .card-scroll-orders ul.list-group  span.total-li {
  min-width: 22%;
  max-width: 22%;
  text-align: right;
}
.container-sales .group-sales .card-scroll-orders ul.list-group  span.add-icon-li,
.container-sales .group-sales .card-scroll-orders ul.list-group  span.remove-icon-li {
  min-width: 10%;
  max-width: 10%;
  cursor: pointer;
}
.container-sales .group-sales .card-scroll-orders ul.list-group  span.add-icon-li i,
.container-sales .group-sales .card-scroll-orders ul.list-group  span.remove-icon-li i{
  display: flex;
  font-size: 1em;
  font-weight: 800;
}
.container-sales .group-sales .card-scroll-orders ul.list-group  span.add-icon-li i{
  color: #5cb85c;
}
.container-sales .group-sales .card-scroll-orders ul.list-group  span.add-icon-li i:active {
  color: #419641;
}
.container-sales .group-sales .card-scroll-orders ul.list-group  span.remove-icon-li i{
  color: #d9534f;
}
.container-sales .group-sales .card-scroll-orders ul.list-group  span.remove-icon-li i:active {
  color: #c9302c;
}
.container-sales .group-sales .card-block>.card-block{
  border-bottom: #ffeac4 solid 1px;
}
.container-sales .group-sales .card-block img  {
  max-height: 300px;
  border-radius: 3px;
  cursor: pointer;
  max-width: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.container-sales .group-sales .card-block img:active {
  opacity: 0.5;
}
.container-sales .group-sales .card-block span {
  display: inline-block;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}
.container-sales .group-sales .card-block span.product-cost {
  margin-left: 0.5rem;
}
.container-sales .group-sales .info-sale  {
  margin-top: 1rem;
}
.container-sales .group-sales .info-sale .text-total {
  font-size: 1.2rem;
}
.container-sales .group-sales .info-sale p .point-total-price {
  display: none;
}
.container-sales .group-sales .info-sale p .text-price {
  font-size: 3rem;
}
.container-sales .group-sales .info-sale p .text-price-decimal{
  font-size: 1.5rem;
  margin-bottom: 3rem;
}
.container-signin {
  display: flex;
  background: url("../media/images/wallpaper.jpg") bottom;
  background-size: auto;
  min-height: calc(100vh - 5rem);
  padding-top: 3rem;
  width: 100%;
}
.container-signin .card-login{
  background-color: white;
  margin-top: 1rem;
}
.container-signin .card-login .container-dabbawala-logo {
  text-align: center;
}
.container-signin .card-login .container-dabbawala-logo .dabbawala-logo {
  height: 128px;
}
.container-signin .card-login .card-login-nav {
  margin: 1rem 2rem;
}
.container-signin .card-login .tab-content .form-login,
.container-signin .card-login .tab-content .form-register{
  margin: 2rem;
}
.container-error {
  background: #e8e8e8;
  padding-top: 5rem;
  min-height: calc(100vh - 5rem);
  width: 100%;
}
.container-error h1 {
  margin-bottom: 2rem;
}
.container-error .alert {
  margin-top: 2rem;
}
.modal#modal-order .modal-content{
  margin-top: calc(50vh - 15rem);
  max-height: 30rem;
  min-height: 30rem;
}
.modal#modal-order .modal-content .card-scroll {
  display: flex;
  height: 300px;
}
.modal#modal-order .modal-content .modal-body{
  max-height: 21.5rem;
  min-height: 21.5rem;
}
.modal#modal-order .modal-content .modal-body #printer-container {
  flex-direction: row;
  justify-content: center;
  font-size: 3mm;
}
.modal#modal-order .modal-content .modal-body .card #ticket-description {
  width: 100%;
}
.popout {
  position: absolute;
  bottom: 3rem;
  right: 6rem;
}
.popout .FAB {
  display: inline-block;
  position: relative;
  outline: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  line-height: 7rem;
  text-align: center;
  z-index: 999;
  background: #eb7926;
  /* background: #ff5722;*/
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0,0,0,0.15);
  transition:0.2s opacity ease-in-out;
  -webkit-transition:0.2s opacity ease-in-out;
}
.popout .FAB i {
  font-size: 3rem !important;
  color: #fff;
}
.popout .FAB.active {
  visibility: hidden;
  opacity: 0;
}
.popout .FAB:after {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 0;
  content: "";
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  background: #eb7926;
  z-index: -100;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
}
.popout .FAB:active:after {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  opacity: 0;
}
.navbar-base {
  background-color: #D44027;
  color: #efefef;
  margin-bottom: 1rem;
}
.popout #fab-add-cartridge,
.popout #fab-add-supply {
  background: #5cb85c !important;
}
.popout #fab-add-cartridge:after,
.popout #fab-add-supply:after {
  background: #419641 !important;
}
#map {
  height: 350px;
  width: 100%;
}
#printer { 
  color: #000000;
  font-size: 0.8rem;
  /*font-family: 'Fjalla One', serif;*/
  /*font-family: 'Eligible-Regular', serif;*/
  font-family: 'Dosis-Regular', serif;
  min-width: 56mm;
  max-width: 56mm;
}
#printer figure {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#printer figure img {
  height: 18mm;
}
#printer ul li {
  padding: 0;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
}
#printer ul li span.name-li-modal {
  min-width: 35%;
  max-width: 35%;
  white-space: nowrap;
  overflow:hidden;
}
#printer ul li span.cost-li-modal,
#printer ul li span.total-li-modal {
 min-width: 25%;
 max-width: 25%;
 text-align: right;
} 
#printer ul li span.cant-li-modal{
  min-width: 15%;
  max-width: 15%;
  text-align: center;
}
#printer ul li span.name-li-title-modal {
  /*font-family: 'Dosis-SemiBold';*/
  font-family: 'Dosis-Bold';
  min-width: 35%;
  max-width: 35%;
}
#printer ul li span.cost-li-title-modal,
#printer ul li span.total-li-title-modal {  
  /*font-family: 'Dosis-SemiBold';*/
  font-family: 'Dosis-Bold';
  text-align: center;
  min-width: 25%;
  max-width: 25%;
}
#printer ul li span.cant-li-title-modal {
  /*font-family: 'Dosis-SemiBold';*/
  font-family: 'Dosis-Bold';
  text-align: center;
  min-width: 15%;
  max-width: 15%;
}
#printer ul li.total-ticket-container{
  justify-content: flex-end;  
}
#printer ul li span#total-ticket {
  margin-top: 0.2rem;
  font-size: 0.9rem;
  text-align: right;
  font-family: 'Dosis-SemiBold';
}