{% extends "base.html" %}

{% block content %}
	<div class="row">
		<div class="col s12">
			<div class="card-panel">
				<form method="POST" enctype="multipart/form-data">
					{% csrf_token %}
                    <div class="input-field">
                        <label for="id_name">Nombre:</label>
                        <input id="id_name" maxlength="255" name="name" required type="text"/>
                    </div>
                    <div class="input-field">
                        <select id="id_category" name="category" required>
                          <option value="" disabled selected>Elige una categoría</option>
                          {%  for category in categories %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                          {% endfor %}
                        </select>
                        <label for="id_category">Categoria:</label>
                    </div>
                    <div class="input-field">
                        <label for="id_barcode">Código de Barras:</label>
                        <input id="id_barcode" min="0" name="barcode" type="number"/>
                        <span class="helptext">(Código de barras de 13 digitos)</span>
                    </div>
                    <div class="input-field">
                        <select id="id_provider" name="provider" required="">
                          <option value="" disabled selected>Elige un proveedor</option>
                          {%  for provider in providers %}
                            <option value="{{ provider.id }}">{{ provider.name }}</option>
                          {% endfor %}
                        </select>
                        <label for="id_provider">Proveedor:</label>
                    </div>
                    <p>
                        <label for="id_image">Imagen:</label>
                        <input id="id_image" name="image" required="" type="file"/>
                    </p>
					<button class="btn wvaes-effect waves-light accent right large" type="submit"> 
						Submit <i class="material-icons right">send</i>
					</button>
				</form>
			</div>
		</div>
	</div>
{% endblock content %}