{% extends "base.html" %}
{% block content %}
  <div class="container container-main col-lg-10 push-lg-1">
    <div class="row">
      {% for sp in supply %}
        <div class="card col-lg-4 col-xl-2">
          <figure>
            <img class="card-img-top" src="{{ sp.image.url }}" alt="Card image cap" style="max-width: 100%;max-height: 150px">
          </figure>
          <div class="card-block">
            <h4 class="card-title">{{ sp.name }}</h4>
            <h6 class="card-subtitle text-muted">{{ sp.category }}</h6>
            <div class="card-bloc text-xs-right">
              <a href="{% url 'views.supply_detail' sp.pk %}">Detalles</a>
            </div>

          </div>
        </div>
      {% endfor %}
    </div>
    </ul>
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large waves-effect waves-light accent" href="{% url 'views.new_supply' %}">
        <i class="large material-icons">restaurant</i>
      </a>
      <ul>
        <li><a class="btn-floating green" href="{% url 'views.new_category' %}"><i class="material-icons">add</i></a></li>
        <li><a class="btn-floating blue" href="{% url 'views.new_category' %}"><i class="material-icons">add</i></a></li>
      </ul>
    </div>
  </div>
  </div>
{% endblock content %}