{% extends "base/base_nav_footer.html" %}

{% block content %}
  <div class="container center_div">
  <font color="red"><center><h1>{{title}}</h1></center></font>        
    <div class="row">
      <div class="col-xs-12">
        <div class="card-panel">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}                                    
            <div>
              <br>
              <label for="id_name">Nombre del Producto</label>
              <input id="id_name" class ="form-control" maxlength="128" name="name" type="text" required  value={{cartridge.name}}>
            </div>
            <div>
              <br>
              <label for="id_price">Precio</label>
              <input id="id_price" class ="form-control" name="price" step="0.01" type="number" value={{cartridge.price}} required >
            </div>
            <br>            
            <div>
            <label for="id_category">Categoria</label>
              <br>
            <select class="form-control" id="category" name="category" value={{cartridge.category}}>
              <option value="FD" selected=>Platillos</option>
              <option value="CO" >Complementos</option>              
            </select>              
            </div>
            <br>            
            <center><label for="id_image">Image:</label> <input id="id_image" name="image" type="file" required value={{cartridge.image.url}}></center>
            <br>
            <center>
              <button class="btn color-primary right large" type="submit">Enviar<i class="material-icons right">send</i>
              </button>
            </center>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}