{% extends 'base/base_nav_footer.html' %}

{% load static %}

{% block page_title %}
  {{ page_title }}
{% endblock %}

{% block content %}
  <div class="container-fluid container-sales-reports">
    <div class="row container-sales-header">
      <div class="col-xs-12 col-md-6">
        <div class="text-xs-center">
          <p>Ventas de la semana: <span id="total-earnings-text" class="font-weight-bold">$ </span></p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="row">
          <div class="col-xs-6">
            <p class="float-xs-right">Hoy es: <span class="font-weight-bold">{{ day }}</span></p>
          </div>
          <div class="col-xs-6">
            <p class="float-xs-right">Semana: <span class="font-weight-bold">{{ week }}</span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row sales-graphics">
      <div class="col-xs-12 col-lg-6">
        <div class="canvas-holder">
          <canvas id="canvas-week-sales"></canvas>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="canvas-holder">
          <canvas id="canvas-day-sales"></canvas>
        </div>
      </div>
    </div>
    <div class="row sales-details">
      <div class="col-xs-12">
        <h4>Ventas de hoy</h4>
      </div>
      <div class="col-xs-12">
        <div class="card card-scroll-x">
          <table class="table table-hover table-sales-details">
            <thead class="thead-inverse">
              <tr>
                <th>Id</th>
                <th class="header-date">Fecha</th>
                <th class="header-products">Productos</th>
                <th class="header-dabba">Dabbas</th>
                <th>Vendedor</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              {% for ticket in tickets %}
                <tr>
                  <th>{{ ticket.ticket_parent }}</th>
                  <td class="header-date">{{ ticket.ticket_parent.created_at }}</td>
                  <td class="header-products">
                    {% for cartridge in ticket.cartridges %}
                      <span class="badge badge-success">
                        <span class="badge badge-info" >{{ cartridge.quantity }}</span>
                        <span class="badge badge-success ">{{ cartridge.cartridge }}</span>
                      </span>
                    {% endfor %}
                  </td>
                  <td class="header-dabba">
                    {% for package in ticket.packages %}
                      <span class="badge badge-primary">
                        <span class="badge badge-info">{{ package.quantity}}</span>
                        <span class="badge badge-primary">{{ package.package }}</span>
                      </span>
                    {% endfor %}
                  </td>
                  <td>{{ ticket.ticket_parent.seller }}</td>
                  <td>
                    {{ ticket.total }}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascript %}
<script src="{% static 'js/Chart.bundle.min.js' %}" defer></script>

<script type="text/javascript" charset="utf-8" defer>
  $(function() {
    var ctx_week = document.getElementById("canvas-week-sales"),
        ctx_day = document.getElementById("canvas-day-sales");
    var sales_week = JSON.parse('{{ sales_week|safe }}');
    var earnings_for_the_week_chart,
        earnings_for_the_day_chart;

    function get_earnings_week_list() {
      var earnings_list = [];
      var count = 0;

      while (count < sales_week.length) {
        earnings_list.push(parseFloat(sales_week[count].earnings));
        count++;
      }
      return earnings_list;
    }

    function get_sales_day(day_number) {
      earnings_list = sales_week;
      date =  earnings_list[day_number].date;
 
      $.ajax({
        url: "{% url 'sales:sales' %}",
        type: 'POST',
        data: {
          csrfmiddlewaretoken: '{{ csrf_token }}',
          'day': date,
        },
        traditional: true,
        datatype: 'jsonp',
        success: function(result) {
          console.log(result);
        },
        error: function(result, jqXHR, textStatus, errorThrown) {
          console.log(result);
        },
      });
    }

    earnings_for_the_week_chart = new Chart(ctx_week, {
      type: 'bar',
      data: {
        labels: ["Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sábado", "Domingo"],
        datasets: [{
          label: 'Ventas del día',
          data: get_earnings_week_list(),
          backgroundColor: [
          'rgba(241,196,15,0.7)',
          'rgba(230,126,34,0.7)',
          'rgba(231,76,60,0.7)',
          'rgba(26,188,156,0.7)',
          'rgba(46,204,113,0.7)',
          'rgba(52,152,219,0.7)',
          'rgba(52,73,94,0.7)',
          ],
          borderColor: [
          'rgba(241,196,15,0.9)',
          'rgba(230,126,34,0.9)',
          'rgba(231,76,60,0.9)',
          'rgba(26,188,156,0.9)',
          'rgba(46,204,113,0.9)',
          'rgba(52,152,219,0.9)',
          'rgba(52,73,94,0.9)',
          ],
        }]
      },
      options: {
        responsive: true,
        onClick: function(event, legendItem) {
          try {
            get_sales_day(legendItem[0]._index);
          } catch (error) {
            console.log(error.message);
          }
        },
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });

    earnings_for_the_day_chart = new Chart(ctx_day, {
      type: 'horizontalBar',
      data: {
        labels: [
        "12:30 - 13:00", "12:00 - 12:30", "11:30 - 12:00", "11:00 - 11:30", "10:30 - 11:00", "10:00 - 10:30", "09:30 - 10:00", "09:00 - 09:30",
        "08:30 - 09:00", "08:00 - 08:30", "07:30 - 08:00", "07:00 - 07:30", "06:30 - 07:00", "06:00 - 06:30", "05:30 - 06:00", "05:00 - 05:30",
        ],
        datasets: [{
          label: 'Ventas en este horario',
          data: [90, 0, 0, 0, 0, 0, 0, 0, 300, 0, 40, 0, 0, 0, 0, 100],
          backgroundColor: [
          'rgba(242,38,19,0.7)',
          'rgba(246,36,89,0.7)',
          'rgba(103,65,114,0.7)',
          'rgba(65,131,215,0.7)',
          'rgba(54,215,183,0.7)',
          'rgba(46,204,113,0.7)',
          'rgba(247,202,24,0.7)',
          'rgba(249,105,14,0.7)',
          'rgba(242,38,19,0.7)',
          'rgba(246,36,89,0.7)',
          'rgba(103,65,114,0.7)',
          'rgba(65,131,215,0.7)',
          'rgba(54,215,183,0.7)',
          'rgba(46,204,113,0.7)',
          'rgba(247,202,24,0.7)',
          'rgba(249,105,14,0.7)',
          ],
          borderWidth: 0
        }]
      },
      options: {
        responsive: true,
        onClick: function(event, legendItem) {
          console.log(legendItem[0]._index);
        },
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });

    /** Funciona para darle formato de moneda a un numero */
    function set_number_format(amount, decimals) {
      var amount_parts,
          regexp = /(\d+)(\d{3})/;

      amount += '';
      amount = parseFloat(amount.replace(/[^0-9\.]/g, ''));
      decimals = decimals || 0;

      if (isNaN(amount) || amount === 0)
        return parseFloat(0).toFixed(decimals);

      amount = '' + amount.toFixed(decimals);
      amount_parts = amount.split('.');

      while (regexp.test(amount_parts[0]))
        amount_parts[0] = amount_parts[0].replace(regexp, '$1' + ' ' + '$2');

      return amount_parts.join('.');
    }

    /** Calcula el total de ganancias de la semana y lo imprime */
    function set_total_earnings() {
      var total_earnings = 0;
      var earnings_list = get_earnings_week_list();
      for (var i = 0; i < earnings_list.length; i++) {
        total_earnings += earnings_list[i];
      }
      total_earnings = set_number_format(total_earnings, 2);
      $('#total-earnings-text').append(total_earnings);
    }

    set_total_earnings();
  });
</script>
{% endblock javascript %}