{% extends "base.html" %}
{% block content %}
	<div class="container">
		<div class="row">
			{% for c in cartridges %}
				<div class="col s12 m6 l4">
					<div class="card small hoverable">
						<div class="card-image  waves-effect waves-light">
							<a href="{% url 'supplies:cartridges' %}" title="{{ c.name }}">
								<img src="{{ c.image.url }}">
							</a>
						</div>
						<div class="card-content">
							<p>
								<span class="card-title">{{ c.name }}</span>
							</p>
							<p class="truncate">
								<strong >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua: </strong>
								{# <a href="" title="">{{ sp.category }}</a> #}
							</p>
						</div>
						<div class="card-action">
							<a href="">Texto</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</ul>
</div>
{% endblock content %}