{% extends "base.html" %}

{% block page_title %}
	{{ title }}
{% endblock page_title %}

{% block title %}
	{{ title }}
{% endblock title %}
{% block content %}
	<div class="row">
		{% for sp in supply %}
			<div class="col s12 m6 l4">
				<div class="card medium hoverable">
					<div class="card-image  waves-effect waves-light">
					<a href="{% url 'views.supply_detail' pk=sp.pk %}" title="Descripción">
						<img src="{{ sp.image.url }}">
					</a>
					</div>
					<div class="card-content">
						<p>
							<span class="card-title">{{ sp.name }}</span>
						</p>
						<p>
							<strong>Categoria: </strong>
							<a href="{% url 'views.categories_supplies' sp.category %}" title="">{{ sp.category }}</a>
						</p>
					</div>
					<div class="card-action">
						<a href="{% url 'views.supply_detail' sp.pk %}">Detalles</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</ul>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
	<a class="btn-floating btn-large waves-effect waves-light accent" href="{% url 'views.new_supply' %}"><i class="material-icons">add</i></a>
</div>

{% endblock content %}